body{
  
    background-image: url("https://images.unsplash.com/photo-1571032555647-37380b4bdfe5?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzR8fHNvbGlkJTIwYmFja2dyb3VuZHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60");

    }
    a{
        color: rgb(24, 23, 24);
        font-weight: 600;
        display:inline-block;
    }
    img{
        
        
        display: block;
    }
    
    .table{
        width: 100%!important;
         }
        
        
         .mycustonTable{
             width:250px!important;
             margin:0 auto;
         }
        
        
         .mycustonTable thead{
             background:black;
             color:white;
         }
        
         
         .mycustonTable thead tr td{
            width:20%;
        }
        
        
        @media print
        {    
            .no-print, .no-print *
            {
                display: none !important;
            }
        }
        
        
        .td{  background: #000;
            color: #fff;}
        
        
        
            .myclass{
                width:100%;
                padding:1rem!important;
            }